@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Playfair Display', serif;
}

.cancel{
    height: 100%;
}

.langht{
    width: 47.7%;
}

@media screen and (max-width:1200px){

    .langht{
        width: 100%;
    }

    .langht-2{
        margin-top: 40px;
    }

    .body-pad{
        padding-top: 50px !important;
    }

    .para{
        font-size: 40px;
    }

    .para2{
        font-size: 25px;
    }

    .para3{
        font-size: 20px;
    }
}

@media screen and (max-width:990px){

    .langht{
        width: 45%;
    }

    .langht-2{
        margin-top: 0px;
    }

    .body-pad{
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .para{
        font-size: 40px;
    }

    .para2{
        font-size: 25px;
    }

    .para3{
        font-size: 20px;
    }

    .achieve{
        width: 100% !important;
    }
}

@media screen and (max-width:776px){

    .drop-left{
        margin-left: 20px;
    }
}

@media screen and (max-width:434px){

    .drop-left{
        margin-left: 10px;
    }

    .para{
        font-size: 30px;
    }

    .para2{
        font-size: 20px;
    }

    .para3{
        font-size: 17px;
    }
}

@media screen and (max-width:364px){
    
    .large-title{
        display: none;
    }
}